body {
  @apply m-0 p-0 w-full;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
}

img {
  border: 0;
  @apply max-w-full leading-full align-middle;
}

/* here we can addd our the custome style like certificate template */

.layout{
  width: 74%; 
  height: 900px; 
  background-image: url(../images/English_front_w_bleed_CMYK.png); 
  background-repeat: no-repeat; 
  background-size:cover; 
}
.left-panel{
  font-size:28px !important; 
  top:28.9%; 
  left:-7%;
}
.dob{
  font-size:28px !important; 
  top: 57.6%;
  left:11%;
}
.city{
  font-size:28px !important; 
  top:70%; 
  left:11%;
}
.city p:last-child{
  position:absolute; 
  top:80%; 
  left:1%;
}
.right-panel{
  font-size:28px; 
  top:28%; 
  right:14%;
}
.temporary{
  top:5%; 
  right:28%;
}
.license-no{
  font-size:28px; 
  top: 15.5%;
  right:14%;
}
.date-issue{
  font-size:28px; 
  top: 29.7%; 
  right:8%
}
.adminstrator{
  font-size:28px; 
  top:41%; 
  right:2%;
}
.adminstrator p:last-child{
  position:absolute; 
  top:90%;
}
.canadaboat img{
  max-width:450px;
  bottom:3%; 
  left:9%;
}
.canadaboat-text{
  font-size:20px;
  top:83%; 
  right:30%;
}
.temporary-big{
  width:100%; 
  margin-top:63%;
}
